#body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color:white;
    font-family: 'Dancing Script', cursive;
}
form{
    margin-top:15vh;
}
li{
    list-style-type: none;
    
}
#quote{
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 2vw;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
.q-words{
    padding-top:1vw;
}
.q-author{
    padding-bottom:1vw;
}
#weather{
    text-align: center;
}
.w-bg{
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 1vw;
    margin-right:1vw;
}
h5{
    margin:0;
}
h3{
    margin:0;
}
#time{
    
    color:rgb(253, 249, 5);
}
.p-section{
    padding-left:40vw;
}
.p-intro{
    font-size: 8vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 1vw;
    width:42vh;
}

/* #todo{
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 1vw;
    padding-left:3vw;
} */
#todolist{
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 1vw;
    padding-left:3vw;
}
/* .todo-bg{
    width:50vw;
} */
.check-box{
    padding:0;
    width:2vw;
}
.todo-des{
    padding:0;
}
.todo-del{
    padding-right:2vw;
}
ul{
    padding:0;
}
.w-image{
    margin:0;
}
.strike{
    text-decoration: line-through;
}
